.resume-container {
	padding: 0.5rem;
}
.resume {
	width: 100%;
	background: var(--light-grey);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	box-shadow: 0 0 15px 0 var(--dark-grey);
	padding: 3rem 1rem;
	gap: 0.5rem;
	position: relative;
	z-index: 5;
}
