.form-container {
	background: var(--light-grey);
	border-radius: 10px;
	margin: auto;
	width: 90%;
	min-width: 220px;
	max-width: 300px;
	height: 100%;
	box-shadow: 0 0 10px 0 var(--light);
	box-sizing: border-box;
}
.form {
	padding: 1rem;
}
.form p {
	font-size: 0.8rem;
}
.form input,
textarea {
	background: none;
	width: 100%;
	padding: 0.3rem;
	margin: 0.3rem 0;
	border: none;
	border-radius: 5px;
	border-bottom: 3px solid var(--dark-grey);
	border-left: 1px solid var(--dark-grey);
	color: var(--dark-grey);
	outline: none;
	font-size: 0.7em;
}
textarea {
	font-family: inherit;
	resize: none;
}
textarea:focus {
	background: var(--light);
}
input:focus {
	background: var(--light);
}
.form label {
	font-size: 0.7rem;
	color: var(--primary);
}
.send-resp {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
